// sass variables
//colors
$header-bgcolor: #38aaa4;
$header-text-color: #ffffff;
$body-color: rgb(226, 226, 226);
$text-color: red;
$h1-color: teal;
$h2-color: violet;
$h3-color: rgb(6, 226, 79);
$h4-color: blue;
$p-color: #333;
$link-color: rgb(223, 15, 223);
$hover-color: rgb(207, 82, 207);

//font-sizes
$h1-fs: 20px;
$h2-fs: 18px;
$h3-fs: 16px;
$h4-fs: 14px;
$p-fs: 14px;

//width-padding-margin
$width: 600px;
$padding: 20px;
$margin: 20px;

#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $body-color;
  padding-top: 50px;
  text-align: center;
  align-items: center;
  
  @mixin header-border {
    border-bottom: 1px dashed;
  }
  h1 {
    @include header-border;
  }

  @mixin main-style {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-center;
  }
  @mixin link-style {
    text-decoration: none;
    float: left;
    border: 1px dashed;
    padding: 5px;
  }
  @mixin image-style {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  @mixin button-style {
    padding: 5px;
    float: right;
  }
  main {
    //@include main-style;
    img {
      @include image-style;
    }
    a {
      @include link-style;
    }
    button {
      @include button-style;
    }
  }
}

@import "common";

h1 {
  color: $h1-color;
  font-size: $h1-fs;
}
h2 {
  color: $h2-color;
}
h3 {
  color: $h3-color;
}
h4 {
  color: $h4-color;
}
p {
  padding: $padding;
  color: $p-color;
  font-size: $p-fs;
}

header {
  @import "nav";
}

p {
}
img {
}
button {
}
@import "footer";
